@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(5,82,82,1) 0%, rgba(0,55,76,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.Welcome{ 
  font-family: "Edu AU VIC WA NT Hand", cursive;
  color: rgb(159, 237, 237);
  animation: neon 60s infinite;
  padding-left: 40.5rem;
}

@keyframes neon{
  0% ,39%,41%,59%,61%,100%{
      text-shadow: rgb(255, 255, 255) 9px 0 22px , rgb(0, 0, 0) 10px 8px 10px}
      40%,60%{
          text-shadow: none;
      }
}
  

.svg{
  padding: 35px 0;
  text-align: center;
}

.text {
  font-family: "Montserrat", sans-serif;
  padding: 0 33rem;
  margin-bottom: 10px;
  font-weight: 200;
  color: rgb(159, 237, 237);
  line-height: 25px;

}

.Txt{
  font-family: "Montserrat", sans-serif;
  padding: 0 30rem;
  margin-bottom: 10px;
  font-weight: 200;
  color: rgb(159, 237, 237);
  line-height: 25px;

}


.input-1 input {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
  height: 50px;
  margin-bottom: 15px;
  border: 3px solid rgb(118, 121, 120);
  border-radius: 10px;
  width: 250px;
  border-width: 1px;
  text-align: left;
}


.input-1{
  padding-left: 37.5rem;

}

.LOG{
  font-family: "Montserrat", sans-serif;
  padding: 0 15rem 0 30rem;
  margin-bottom: 10px;
  font-weight: 200;
  color: rgb(159, 237, 237);
  line-height: 25px;

}

.click{
  color: inherit;
  text-decoration: none;
}
.Login{
  display: flex;
}
