@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(5,82,82,1) 0%, rgba(0,55,76,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100px; 
    height: 100px; 
}

.user-icon {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 6rem 0 3rem 41rem;
}

.camera-icon {
    margin: 15.5rem -45.5rem 3rem 0 ;
    width: 30px; 
    height: 30px; 
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); 
    border-radius: 50%; 
    border: 2px solid rgba(255, 255, 255, 0); 
    cursor: pointer;
}

.password {
    --border-width: 1px;
    display: block;
    width: 20rem;
    height: 3.375rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: var(--border-width) solid rgb(31, 31, 31);
    border-radius:10px ;
    color: black;
    background-color:#5a5b5c2f;
    outline: none;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-style: inherit;
    font-family: 'Comic Sans MS', sans-serif;
    
    
}
.password-input{
    padding: 12rem 0 1rem 38rem;

}
.submit-arrow{

    margin-left: 60rem;
}

