<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatHub</title>
    <link rel="shortcut icon" href="/chatbot.png">
    <link rel="stylesheet" href="/css/Password.css">
</head>
<body>
    <div class="container">
        <div class="user-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="222px" height="222px" viewBox="0 0 222 222" version="1.1">
                <g id="surface1">
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,21.568627%,29.803922%);fill-opacity:1;" d="M 111 3.46875 C 51.683594 3.46875 3.46875 51.683594 3.46875 111 C 3.46875 170.316406 51.683594 218.53125 111 218.53125 C 170.316406 218.53125 218.53125 170.316406 218.53125 111 C 218.53125 51.683594 170.316406 3.46875 111 3.46875 Z M 184.191406 157.34375 C 169.207031 135.976562 141.800781 122.378906 111 122.378906 C 80.199219 122.378906 52.726562 135.976562 37.878906 157.480469 C 29.34375 144.023438 24.28125 128.066406 24.28125 111 C 24.28125 63.199219 63.199219 24.28125 111 24.28125 C 158.800781 24.28125 197.71875 63.199219 197.71875 111 C 197.71875 128.066406 192.722656 143.953125 184.191406 157.34375 Z M 184.191406 157.34375 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,21.568627%,29.803922%);fill-opacity:1;" d="M 145.480469 76.3125 C 145.480469 95.355469 130.042969 110.792969 111 110.792969 C 91.957031 110.792969 76.519531 95.355469 76.519531 76.3125 C 76.519531 57.269531 91.957031 41.832031 111 41.832031 C 130.042969 41.832031 145.480469 57.269531 145.480469 76.3125 Z M 145.480469 76.3125 "/>
                </g>
                </svg>
        </div>
        <div class="camera-icon" id="cameraIcon">
                <svg id="camera" xmlns="http://www.w3.org/2000/svg" fill="#00614F" width="70px" height="70px" viewBox="-5.6 -5.6 67.20 67.20" stroke="#00614F" stroke-width="0.00056">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(3.6400000000000006,3.6400000000000006), scale(0.87)">                
                    <rect x="-5.6" y="-5.6" width="67.20" height="67.20" rx="33.6" fill="#00374C" strokewidth="0"/>                
                    </g>                
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.22400000000000003"/>                
                    <g id="SVGRepo_iconCarrier">                
                    <path d="M 27.9999 51.9063 C 41.0546 51.9063 51.9063 41.0781 51.9063 28 C 51.9063 14.9453 41.0312 4.0937 27.9765 4.0937 C 14.8983 4.0937 4.0937 14.9453 4.0937 28 C 4.0937 41.0781 14.9218 51.9063 27.9999 51.9063 Z M 27.9999 47.9219 C 16.9374 47.9219 8.1014 39.0625 8.1014 28 C 8.1014 16.9609 16.9140 8.0781 27.9765 8.0781 C 39.0155 8.0781 47.8983 16.9609 47.9219 28 C 47.9454 39.0625 39.0390 47.9219 27.9999 47.9219 Z M 17.6874 38.6172 L 38.2655 38.6172 C 40.7265 38.6172 42.0155 37.3750 42.0155 34.9375 L 42.0155 22.4219 C 42.0155 19.9609 40.7265 18.7188 38.2655 18.7188 L 35.4530 18.7188 C 34.5155 18.7188 34.2343 18.5547 33.6952 17.9453 L 32.7343 16.8672 C 32.1483 16.2109 31.5390 15.8594 30.3202 15.8594 L 25.5390 15.8594 C 24.3202 15.8594 23.7109 16.2109 23.1014 16.8672 L 22.1405 17.9453 C 21.6014 18.5078 21.3202 18.7188 20.3827 18.7188 L 17.6874 18.7188 C 15.1796 18.7188 13.9140 19.9609 13.9140 22.4219 L 13.9140 34.9375 C 13.9140 37.3750 15.1796 38.6172 17.6874 38.6172 Z M 27.8358 35.2890 C 23.9452 35.2890 20.7812 32.1719 20.7812 28.2344 C 20.7812 24.3437 23.9452 21.2266 27.8358 21.2266 C 31.7265 21.2266 34.8436 24.3437 34.8436 28.2344 C 34.8436 32.2422 31.7265 35.2890 27.8358 35.2890 Z M 37.0468 25.1172 C 36.1796 25.1172 35.4530 24.4141 35.4530 23.5234 C 35.4530 22.6328 36.1796 21.9297 37.0468 21.9297 C 37.9140 21.9297 38.6171 22.6328 38.6171 23.5234 C 38.6405 24.4141 37.9140 25.1172 37.0468 25.1172 Z M 27.8358 33.25 C 30.5780 33.25 32.8280 31.0234 32.8280 28.2344 C 32.8280 25.4688 30.5780 23.2422 27.8358 23.2422 C 25.0702 23.2422 22.8202 25.4688 22.8202 28.2344 C 22.8202 31.0234 25.0702 33.25 27.8358 33.25 Z"/>           
                    </g> 
                    </svg>
        </div>
        <input type="file" id="fileInput" style="visibility: hidden;">
        <div class="password-input">
            <input class="password" id="password" type="password" placeholder="  Enter password">
        </div>
        <div class="submit-arrow">
            <a href="" class="svg" id="submit">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="70px" height="70px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                  <g><path style="opacity:1" fill="#7c8085" d="M 46.5,29.5 C 46.5,29.8333 46.5,30.1667 46.5,30.5C 41.5,30.5 36.5,30.5 31.5,30.5C 22.8333,30.5 14.1667,30.5 5.5,30.5C 5.5,33.1667 5.5,35.8333 5.5,38.5C 4.52333,35.7131 4.19,32.7131 4.5,29.5C 18.5,29.5 32.5,29.5 46.5,29.5 Z"/></g>
                  <g><path style="opacity:1" fill="#000000" d="M 5.5,38.5 C 5.5,35.8333 5.5,33.1667 5.5,30.5C 14.1667,30.5 22.8333,30.5 31.5,30.5C 23.3501,31.4927 15.0168,31.8261 6.5,31.5C 6.5,33.1667 6.5,34.8333 6.5,36.5C 20.9019,36.0372 35.2353,36.7038 49.5,38.5C 47.2733,40.6068 45.2733,42.9401 43.5,45.5C 44.3467,46.8448 45.5134,47.8448 47,48.5C 51.8333,43.6667 56.6667,38.8333 61.5,34C 56.6347,28.8 51.4681,23.9666 46,19.5C 44.9783,20.354 44.1449,21.354 43.5,22.5C 45.31,25.1443 47.31,27.6443 49.5,30C 48.552,30.4828 47.552,30.6495 46.5,30.5C 46.5,30.1667 46.5,29.8333 46.5,29.5C 44.6519,27.4836 42.9852,25.317 41.5,23C 42.4841,21.3435 43.4841,19.6768 44.5,18C 45.8333,17.3333 47.1667,17.3333 48.5,18C 53.8665,23.0318 58.8665,28.3651 63.5,34C 58.6543,40.179 53.1543,45.679 47,50.5C 39.9128,47.173 39.7461,43.3396 46.5,39C 32.8374,38.5001 19.1707,38.3334 5.5,38.5 Z"/></g>
                  <g><path style="opacity:1" fill="#00394c" d="M 31.5,30.5 C 36.5,30.5 41.5,30.5 46.5,30.5C 47.552,30.6495 48.552,30.4828 49.5,30C 47.31,27.6443 45.31,25.1443 43.5,22.5C 44.1449,21.354 44.9783,20.354 46,19.5C 51.4681,23.9666 56.6347,28.8 61.5,34C 56.6667,38.8333 51.8333,43.6667 47,48.5C 45.5134,47.8448 44.3467,46.8448 43.5,45.5C 45.2733,42.9401 47.2733,40.6068 49.5,38.5C 35.2353,36.7038 20.9019,36.0372 6.5,36.5C 6.5,34.8333 6.5,33.1667 6.5,31.5C 15.0168,31.8261 23.3501,31.4927 31.5,30.5 Z"/></g>
                  </svg>
              </a>
        </div>
    </div>
    <script src="/js/Password.js"></script>
</body>
</html>
